@import "./main.scss";

main {
  flex: 1;

  display: flex;
  gap: 20px;
}

.left-section {
  display: flex;
  flex-direction: column;

  flex: 1;
  gap: 20px;
}

.right-section {
  flex: 0.5;
}

.primary-text-input {
  padding: 10px;
  width: 100%;

  appearance: none;
  border: none;
  outline: none;
  font-size: 0.8em;
  border-radius: 0.3em;
  background-color: $secondary-background-color;
  color: $primary-text-color;
}

.large-display {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .display-text {
    color: $primary-text-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 2.5em;
    }

    p {
      color: $secondary-text-color;
      margin: 0.5em 0;
    }

    h1 {
      font-size: 3em;
    }
  }

  img {
    width: 180px;
    height: auto;
  }

  @media (max-width: 1300px) {
    img {
      width: 100px;
    }
  }

  @media (max-width: 970px) {
    img {
      display: none;
    }
  }
}

.horizontal-section {
  flex: 1;
  background-color: $secondary-background-color;
  border-radius: 15px;
  padding: 20px;

  text-transform: uppercase;
  font-size: 0.9em;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vertical-section {
  flex: 1;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  background-color: $secondary-background-color;

  p {
    text-transform: uppercase;
    font-weight: 800;
  }
}

.today-forecast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  flex: 1;

  hr {
    border: 1px solid rgba(255, 255, 255, 0.152);
    outline: none;
    height: 80%;
  }
}

.forecast-horizontal-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  p {
    font-weight: 800;
  }
  h4 {
    font-size: 20px;
    color: $primary-text-color;
  }
  img {
    width: 50px;
  }
}

.air-conditions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  height: 100%;
}

.air-con-item {
  display: flex;
  gap: 10px;
  text-transform: none;
  align-items: center;

  .aircon-text {
    display: flex;
    flex-direction: column;
  }

  h2 {
    color: $primary-text-color;
  }
}

.d7-dayforecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0;

  .d7-forecast-item {
    display: flex;
    align-items: center;

    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.273);
    border-radius: 15px;

    .d7-forecast-primary-temp {
      font-weight: bold;
    }

    h4 {
      font-weight: 300;
    }

    display: flex;
    justify-content: space-between;

    .d7-forecast-icontext-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      p {
        text-transform: none;
      }
    }
  }

  img {
    width: 30px;
  }
}
